/* VENDOR - Default fall-backs and external files.
========================================================================== */

@import './vendor/_normalize.scss';
// @import './vendor/_reset';


/* BASE - Base Variable file along with starting point Mixins and Placeholders.
========================================================================== */

@import './base/_variables.scss';
@import './base/_mixins.scss';
@import './base/_placeholders.scss';


/* FRAMEWORK - Structure and layout files.
========================================================================== */

@import './framework/_grid.scss';
@import './framework/_layout.scss';


/* MODULES - Re-usable site elements.
========================================================================== */

@import './modules/_animate.scss';
